.brand {
    display: flex;
    gap: 10px;
}

/* ---- Menu */

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.25);
    width: 100vw;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu a {
    color: beige;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
}

/* ------ */
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


@media screen and (min-width: 768px) {

    .bar{
        display: none;
    }
    .nav-menu{
        box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
        border-top: 4px double rgba(0,0,0,0.75);
        background: var(--Moongose);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        height: 40px;
        width: auto;
        position: static;
        border-radius: 0px;
        padding-left: 20px;
    }
    .nav-item{
        margin: 0;       
    }
    .nav-item a{
 /*       padding: 10px;
        border-radius: 10px;
        background-color: beige;
        color: black;*/
    }
    .nav-item a:hover{
        color: darkolivegreen;
    }
}
/* copie todo el codigo del main.css aca para  todos los formatos */
/* codigo pagina contacto */
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: bisque;
    border: solid 1px #333;
    min-height: 300px;
    width: 100%;
    padding: 2em 4em;
}

.ayuda {
    padding: 5px 0 40px;
    font-size: 25px;
}

#tipo-contacto {
    font-family: cursive; 
    font-size: 15px;
}

.interior-formulario-1 input,
.interior-formulario-1 textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color:gray;
    font-size: 15px;
  border-bottom: 1.5px solid grey;
}

.interior-formulario-1 button{
    width: 100%;
}

/* cambio de color boton envio consulta */

.interior-formulario-1 button {
    background: darkolivegreen;
    border: 0;  
}    
/* cambio de font en textarea . no pude  de  otra manera*/

::placeholder {
   font-family: cursive;
}
