
/* 
    Colores
    
Moongose: #B8A78D
Black Olive: #30371A
Paarl: #9B6B2D
Walnut: #773F1E

*/

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;500;600&display=swap');
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Noto Sans Display', sans-serif; */

:root {
    --Moongose: #B8A78D;
    --Black_Olive: #30371A;
    --Paarl: #9B6B2D;
    --Walnut: #773F1E;
  }
/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*font-family: 'Courier New', Courier, monospace;*/
}
body{
    font-family: 'Oswald', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* fin Reset */

/* Header */
.container-main{
    position: relative;
    height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.logo{
    width: 70px;  
}
.brand h1{
    font-family:'Times New Roman', Times, serif;
    margin: auto 5px auto 25px;
}
.imgBack{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.footer-main{
    color: darkolivegreen; 
    position: absolute;
    bottom: 0;
    margin: 2em 5em;
  /*  text-shadow: 4px 3px 6px rgba(255,255,255,1);*/
}

/* ------ */

.section2{
    color:var(--Walnut);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--Moongose);
    /*border: solid 1px #333;*/
    min-height: 300px;
    width: 100%;
    padding: 2em 4em;
}

.section2 h2{
    margin: 2em 0;
}

        /* -------- */

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    background-color: var(--Moongose);
    /*border: solid 1px #333;*/
    width: 100%;
    padding: 2em 4em;
}

.section3 .card{
    color: beige;
    background-color: var(--Black_Olive);
    border-radius: 0.5em;
    padding: 1em;
}

.section3 .card img{
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.5em;
    margin-bottom: 1em;

}
        /* -------- */
footer{
    border-top: 6px double rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--Paarl);
    /* border-top: solid 3px var(--Black_Olive);*/
    width: 100%;
}
footer ul{
    display: flex;
}


@media screen and (min-width: 768px) {
 
.container-main{
    color: white;
}
.header{
    display: inline;
    padding: 0;
    background: var(--Moongose);
}
.logo{
    margin-left: 1em;
}
.brand h1{
    margin: auto;
    font-size: 2.5em;
}
.nav-menu{
    background: var(--Moongose);
}

.nav-menu .display{
    background: var(--Walnut);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    padding: 5px 10px;
    border-radius: 10px;
}

.nav-item a:hover{
    color: var(--Walnut);
}


/*
.brand{
    
}
.section3{
    display: inline-block;
}
.section3 .card:nth-child(odd){
    float: right;
    width: 75%;
}

.section3 .card:nth-child(even){
    float: left;
    width: 75%;
}
*/
}

@media screen and (min-width: 992px) {
    .container-main{
        color: var(--Walnut);
    }

    .hamburger {
        display: none;
    }
    .brand h1{
        font-size: 3em;
    }
}