
/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* fin Reset */

/* Header */
.container-main{
    background-color: aqua;
    position: relative;
    height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.10);
    /*background: transparent;*/    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.container-main img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.footer-main{
    color: darkolivegreen;
    position: absolute;
    bottom: 0;
    margin: 2em 5em;
  /*  text-shadow: 4px 3px 6px rgba(255,255,255,1);*/
}

/* ------ */

.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: bisque;
    border: solid 1px #333;
    min-height: 300px;
    width: 100%;
    padding: 2em 4em;
}

.section2 h2{
    margin: 2em 0;
}

        /* -------- */

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    background-color: bisque;
    border: solid 1px #333;
    width: 100%;
    padding: 2em 4em;
}

.section3 .card{
    background-color: darkolivegreen;
    border-radius: 0.5em;
    padding: 1em;
}

.section3 .card img{
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.5em;
    margin-bottom: 1em;

}
        /* -------- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: palevioletred;
    border: solid 1px #333;
    width: 100%;
}
footer ul{
    display: flex;
}


@media screen and (min-width: 768px) {
 
.container-main{
    color: white;
}
.header{
    display: inline;
    padding: 0;

}
/*
.brand{
    
}
.section3{
    display: inline-block;
}
.section3 .card:nth-child(odd){
    float: right;
    width: 75%;
}

.section3 .card:nth-child(even){
    float: left;
    width: 75%;
}
*/
}

@media screen and (min-width: 992px) {
    .container-main{
        color: red;
    }

    .hamburger {
        display: none;
    
}