
/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* fin Reset */

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0 1rem;
}

.brand{
    display: flex;
    gap: 10px;
}

/* ---- Menu */
/*
.hamburger {
    display: none;
}*/

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
}

/* ------ */
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* ------ */

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
  /*  border: solid 1px #333;*/
    height: 100vh; /*Hacer calc(100vh - alto del header)*/
    width: 100%;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border: solid 1px #333;
    height: 300px;
    width: 100%;
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border: solid 1px #333;
    height: 300px;
    width: 100%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
    border: solid 1px #333;
    height: 75px;
    width: 100%;
}
/*@media screen and (min-width: 768px) {
    /* Styles */

/*
}*/

@media screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }
}